# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=handshake
DATABASE_USER=
DATABASE_PASSWORD=

# Solana
RPC_URL=https://api.devnet.solana.com
HANDSHAKE_PROGRAM_ID=HZ8paEkYZ2hKBwHoVk23doSLEad9K5duASRTGaYogmfg

# USDC Faucet (devnet)
USDC_MINT_ADDRESS=
USDC_MINT_AUTHORITY_PRIVATE_KEY=
