[toolchain]
channel = "stable"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
handshake = "HANDSHAKE1111111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
